* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header */
header {
  padding: 30px 30px;
  background-image: url("../img/desktop/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header .container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container-nav .menu-nav ul {
  display: flex;
  list-style: none;
}

header .container-nav .menu-nav li {
  margin-right: 30px;
}

header .container-nav .menu-nav li:last-child {
  margin-right: 0;
}

header .container-nav .menu-nav li a.menu-item-nav {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

header .container-nav .menu-nav li a.menu-item-nav.contact {
  color: #000;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  text-transform: uppercase;

  transition: 0.3s;
}

header .container-nav .menu-nav li a.menu-item-nav.contact:hover {
  background-color: #6dceff;
  color: #fff;
}

header .container-title {
  text-align: center;
  margin-top: 50px;
}

header .container-title h1 {
  color: #fff;
  font-size: 80px;
}

header .container-arrow {
  text-align: center;
  margin-top: 20px;
}

/* Main */
.main-content {
  display: flex;
  flex-direction: column;
}

.main-content .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 80vh;
}

.main-content .content .content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;

  width: 50%;
  padding: 80px;
}

.main-content .content .content-text h2 {
  font-size: 45px;
  line-height: 1;
  margin-bottom: 20px;
}

.main-content .content .content-text p {
  margin-bottom: 20px;
}

.main-content .content .content-text .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content .content .content-text .link a {
  text-decoration: none;
  font-weight: 600;
  z-index: 2;
  text-transform: uppercase;
  color: #000;
}

.main-content .content .content-text .link hr {
  height: 8px;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 14px;
  width: 115px;
  right: -8px;
  z-index: -1;
  transition: 0.3s;
}

.main-content .content .content-text .link hr.yellow {
  background-color: #fff5bc;
}

.main-content .content .content-text .link:hover hr.yellow {
  background-color: #f5cf00;
}

.main-content .content .content-text .link hr.red {
  background-color: #fdd8d0;
}

.main-content .content .content-text .link:hover hr.red {
  background-color: #f97560;
}

.main-content .content .content-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 50%;
}

.main-content .content .content-image.one {
  background-image: url("../img/desktop/image-transform.jpg");
}

.main-content .content .content-image.two {
  background-image: url("../img/desktop/image-stand-out.jpg");
}

.main-content .content .content-image.three {
  background-image: url("../img/desktop/image-graphic-design.jpg");
}

.main-content .content .content-image.four {
  background-image: url("../img/desktop/image-photography.jpg");
}

.main-content .content .content-image .text-call {
  position: absolute;
  bottom: 100px;
  text-align: center;
  padding: 0px 250px;
}

.main-content .content .content-image .text-call h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.main-content .content .content-image .text-call p {
  font-size: 18px;
  font-weight: 400;
}

.main-content .content .content-image.three .text-call h3,
.main-content .content .content-image.three .text-call p {
  color: #20544a;
}

.main-content .content .content-image.four .text-call h3,
.main-content .content .content-image.four .text-call p {
  color: #1a5370;
}

.clients {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clients .title {
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 70px;
}

.clients .client-container {
  display: flex;
  flex-direction: row;
  gap: 1;
  padding: 0px 200px;
}

.clients .client-container .client-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients .client-container .client-item img {
  border-radius: 50%;
  height: 80px;
  margin-bottom: 80px;
}

.clients .client-container .client-item p {
  font-weight: 400;
}
